/* font-family: 'Oswald', sans-serif; (-- FOR WELCOME SECTION --)
font-family: 'Poppins', sans-serif; (-- FOR HEADERS --) */ 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: rgb(253, 190, 72);
    position: relative;
}

p {
    font-size: clamp(0.8em,0.9em,1em);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 189, 66, 0.75);
    box-shadow: 0px 1px 30px rgba(253, 196, 90, 0.55);
    position: absolute;
    top: 0;
    left: 0;
}

.navbar:first-child {
    margin-left: 5vw;
}

.navbar:last-child {
    margin-right: 4vw;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 1.5em;
    transition: all 150ms ease-in;
}

.navbar ul li:hover {
    background-color: rgb(97, 18, 18);
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    transition: all 100ms ease-in;
}

.navbar ul li a:hover {
    color: white;
}

.logo {
    width: 70px;
    height: 70px;
}

.vidBg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    z-index: -1;
}

main {
    width: 100%;
    height: 100%;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.welcomeMessage {
    width: 33vw;
    height: auto;
    margin-left: 2.5vw;
    color: white;
}

.welcomeMessage h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 187, 60);
}

section {
    min-height: 100vh;
    width: 100%;
}

.signup {
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #333;
}

.signupContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

.signupContainer h1 {
    font-size: 2em;
}

.signupContainer p {
    font-size: 0.9em;
}

.signupContainer input {
    width: 100%;
    padding: 0.8em;
    border-radius: 10px;
    border: none;
    margin-top: 1vh;
    transition: all 150ms ease-in-out;
}

.signupContainer input::placeholder {
    font-weight: bold;
}

.signupContainer input:focus {
    padding: 1.3em;
}

.backToTop {
    background-color: rgb(146, 0, 0);
    color: white;
    text-decoration: none;
    padding: 1.3em;
    border-radius: 13px;
    border: 3px solid black;
    position: fixed;
    bottom: 2vh;
    right: -100vw;
    text-align: start;
    /* display: none; */
    transition: all 1s ease-in-out;
}

.backToTop.active {
    /* display: block; */
    transform: translateX(-99vw);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 8vh;
    border-top: 4px solid #333;
    background-color: white;
}

.title {
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
    color: orange;
}

.filterBtn {
    width: 15%;
}

.mainMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    /* grid-template-rows: repeat(5,1fr); */
    align-items: center;
    row-gap: 1vh;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.menuItem {
    width: 95%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.menuItem img {
    width: 45%;
    height: auto;
    border: 2px solid rgb(128, 91, 0);
    border-bottom-width: 3px;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: 1px 2px 5px rgb(165, 165, 165);
}

.menuItemInfo {
    box-shadow: 1px 2px 5px rgb(196, 196, 196);
    padding: 1em;
    margin-left: 0.2em;
    height: 85%;
    width: 55%;
    background-color: rgb(250, 248, 234);
    display: flex;
    flex-direction: column;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
    margin-bottom: 1vh;
}

.menuItemInfo p {
    padding: 0.5em;
    padding-bottom: 0;
    font-size: 0.8em;
}

.menuBtnsContainer {
    width: 100%;
    height: fit-content;
    padding: 1rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.filterBtn {
    padding: 0.6rem;
    background-color: rgb(255, 243, 175);
    border-radius: 9px;
    border: 3px solid goldenrod;
    margin: 0 0.8rem;
    cursor: pointer;
    transition-duration: 300ms;
}

.filterBtn:hover {
    background-color: rgb(253, 211, 106);
    border: 3px solid rgb(34, 34, 34);
    color: rgb(136, 116, 0);
}

.filterBtn:focus {
    background-color: rgb(253, 211, 106);
    border: 3px solid rgb(34, 34, 34);
    color: rgb(136, 116, 0);
}

.socialAndContact {
    min-height: 50vh;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social, .contact {
    width: 50%;
}

.social ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social ul div {
    display: flex;
    align-items: center;
}

.contactIcon {
    font-size: 2em;
    margin-right: 1.5vw;
    transition: all 180ms ease;
    color: black;
}

.contactIcon2 {
    font-size: 1.5em;
    margin-right: 1.5vw;
    color: black;
}

.contactIcon:hover {
    color: whitesmoke;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact ul {
    display: flex;
    flex-direction: column;
}

.contact span {
    font-size: 0.9em;
}

.textArea {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submitBtn {
    width: 130px;
    text-transform: uppercase;
    padding: 0.6em;
    margin-top: 1.5vh;
    background-color: #222;
    color: orange;
    border: none;
    cursor: pointer;
    transition: all 150ms ease;
}

.submitBtn:hover {
    color: #222;
    background-color: orange;
    font-weight: bold;
    border: 3px solid black;
}

.addNotes {
    border-radius: 15px;
    padding: 0.5em;
}

.addNotes::placeholder {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

footer {
    width: 100%;
    padding: 1em;
    text-align: center;
    margin-top: 5vh;
    background-color: #333;
    color: whitesmoke;
    font-size: 0.85em;
}

.fa-bars {
    font-size: 2.5em;
    position: absolute;
    top: 1.5vh;
    right: 3vw;
    display: none;
    color: white;
}

.fa-times {
    font-size: 2.9em;
    position: absolute;
    top: 1.5vh;
    right: 3vw;
    display: none;
}

@media (max-width: 800px) {
    body {
        width: 100%;
        min-height: 100vh;  
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(255, 189, 66, 0.8);
        transition: all 300ms ease-in-out;
        transform: translateX(-105%);
    }

    .header.active {
        transform: translateX(0%);
    }

    .navbar {
        width: 100%;
    }

    .navbar:first-child {
        margin-left: 0;
        margin-top: 90px;
    }
    
    .navbar:last-child {
        margin-right: 0;
    }
    
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    
    .navbar ul li {
        list-style: none;
        padding: 0.8em;
        border-bottom: 1px solid rgb(68, 55, 20);
        width: 100%;
    }

    .navbar:first-child ul li:first-child {
        border-top: 1px solid rgb(68, 55, 20);
    }

    .logo {
        position: absolute;
        top: 1vh;
        left: 1vw;
    }

    .fa-bars {
        display: block;
    }

    .fa-times {
        display: block;
    }

    .vidBg {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .welcomeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        background-image: url(../imgs/mobile-bg-photo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .welcomeMessage {
        text-align: center;
        width: 90%;
        height: auto;
        margin: auto;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0.5em;
    }
    
    .welcomeMessage h1 {
        font-family: 'Oswald', sans-serif;
        color: rgb(255, 186, 59);
        font-size: 3em;
    }

    .welcomeMessage p {
        color: whitesmoke;
    }

    .signup {
        min-height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 4px solid #333;
    }
    
    .signupContainer {
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        font-family: 'Poppins', sans-serif;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 0.8vh;
        padding-bottom: 3vh;
        border-top: 4px solid #333;
        background-color: whitesmoke;
    }

    .menuItemInfo {
        font-size: 0.8em;
    }

    .title {
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        color: orange;
    }

    .menuBtnsContainer {
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 1.8em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .filterBtn {
        width: 100%;
        margin: 0 1vw;
        padding: 0.6rem;
        background-color: rgb(255, 243, 175);
        border-radius: 9px;
        border: 3px solid goldenrod;
    }

    .mainMenu {
        grid-template-rows: repeat(10,1fr);
        align-items: center;
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    
    .menuItem {
        width: 100%;
        display: flex;
        margin: 0;
        align-items: center;
        border-bottom: 2px solid rgba(51, 51, 51, 0.2);
        padding: 0;
    }

    .menuItem img {
        width: auto;
        height: 100px;
        border-radius: 10%;
    }

    .socialAndContact {
        min-height: 50vh;
        width: 100%;
        padding: 0.5em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        font-size: 0.8em;
    }
    
    .social, .contact {
        width: 100%;
    }

    .submitBtn {
        width: 130px;
        text-transform: uppercase;
        padding: 0.6em;
        background-color: #222;
        color: orange;
        border: none;
        cursor: pointer;
        margin: 2.6vh auto 0 auto;
    }

    .social ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .social ul div {
        display: flex;
        align-items: center;
    }

    .social ul div h5 {
        display: none;
    }

    .textArea {
        margin: 3vh auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contactIcon {
        font-size: 2.8em;
        margin-right: 1.5vw;
        transition: all 180ms ease;
        color: black;
    }

    footer {
        width: 100%;
        padding: 1em;
        text-align: center;
        margin-top: 3vh;
        background-color: #333;
        color: whitesmoke;
        font-size: 0.85em;
    }

    .backToTop {
        display: none;
    }
}